@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header, footer, nav, .print\:hidden {
    display: none !important;
  }
  body {
    background: white;
  }
}

html, body, #root {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #fafafa;
}
